body {
    width: 100%;
    text-align: center;
    background-color: #272727;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

h2 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 18px;
}

.font-types>span>a {
    text-decoration: none;
    color: white;
}

p:first-child {
    font-size: 16px;
    text-decoration: underline;
}

p:nth-child(2) {
    font-size: 22px;
}