/.idea/
.DS_Store
1-introduction-to-building-web-pages/.DS_Store
1-introduction-to-building-web-pages/assignment-3-positive-work-environment/.DS_Store
4-building-interactive-user-interfaces-using-react/assignment-1-glass-kart/node_modules